/*Стили PDF*/
/*Руководство администратора*/


/* Нижние колонтитулы*/

/*   @page :left {
          @bottom-left {
            content: "Руководство администратора DATAPK ITM" ;
            font-size:10pt;
			color:#808080;
        }
        @bottom-right {
            content: counter(page, decimal);
            font-size:10pt;
			color:#808080;
        }
    }  
 @page :right{
         @bottom-left {
            content: "Руководство администратора DATAPK ITM";
            font-size:10pt;
			color:#808080;
        }  
        @bottom-right{
             content: counter(page, decimal);
             font-size:10pt;
			color:#808080;
        }
}*/
       /* Верхние колонтитулы УЦСБ*/ 
 /*@page table-of-contents:left {
    @top-left {
        content: "Руководство администратора DATAPK ITM: содержание | " counter(page, decimal);
        
    }
}
@page table-of-contents:right {
     @top-right {
        content: "Руководство администратора DATAPK ITM: содержание | " counter(page, decimal);
       
     }

}*/

       /* Верхние колонтитулы UDV*/ 
  @page table-of-contents:left {
    @top-left {
        content: "Руководство администратора UDV ITM: содержание | " counter(page, decimal);
        
    }
}
@page table-of-contents:right {
     @top-right {
        content: "Руководство администратора UDV ITM: содержание | " counter(page, decimal);
       
     }

}
@page table-of-contents:left {
    @top-left {
        content: none;
        display:none;
    }
}
@page table-of-contents:right {
     @top-right {
        content: none;
       display:none;
     }

}
.codeblock{
	overflow-wrap: anywhere;
}

.p_columns{
	width: 50%;
}

.stepresult > figure
{
	margin-left:0px;
}
.substep > .info > figure
{
	margin-left:0px;
}
.step > .info > figure
{
	margin-left:0px;
}
.li > figure
{
	margin-left:0px;
	
}

.certif_hide{
	display:none;
}
/*.certif{
	display:none;
}*/

.user{
	display:none;
}