/*Стили PDF*/
  
/* Нижние колонтитулы*/
/*
    @page :left {
          @bottom-left {
            content: "Руководство по проектированию и внедрению DATAPK ITM | Версия документа v.1.2" ;
          
        }
        
    }  
 @page :right{
         @bottom-left {
            content: "Руководство по проектированию и внедрению DATAPK ITM | Версия документа v.1.2";
          
        }  
        
}
*/
/* Верхние колонтитулы */
  @page table-of-contents:left {
    @top-left {
        content: "Руководство по по проектированию и внедрению DATAPK ITM: содержание | " counter(page, decimal);
        
    }
}
@page table-of-contents:right {
     @top-right {
        content: "Руководство по по проектированию и внедрению DATAPK ITM: содержание | " counter(page, decimal);
       
     }

}