/*Стили PDF
Руководство по эксплуатации
*/

/* Нижние колонтитулы*/
/*    @page :left {
          @bottom-left {
            content: "Руководство по эксплуатации DATAPK ITM | Версия документа v.1.2" ;
          
        }
        
    }  
 @page :right{
         @bottom-left {
            content: "Руководство по эксплуатации DATAPK ITM | Версия документа v.1.2";
          
        }  
        
}
*/ 
/*Для УЦСБ */
       
/*  @page table-of-contents:left {
    @top-left {
        content: "Руководство по эксплуатации DATAPK ITM: содержание | " counter(page, decimal);
        
    }
}
@page table-of-contents:right {
     @top-right {
        content: "Руководство по эксплуатации DATAPK ITM: содержание | " counter(page, decimal);
       
     }

}*/

/*Для UDV */

  @page table-of-contents:left {
    @top-left {
        content: "Руководство по эксплуатации: содержание | " counter(page, decimal);
        
    }
}
@page table-of-contents:right {
     @top-right {
        content: "Руководство по эксплуатации: содержание | " counter(page, decimal);
       
     }

}


.codeblock{
	overflow-wrap: anywhere;
}



.stepresult > figure
{
	margin-left:0px;
}
.tip > figure 
{
	margin-left:0px;
}
.stepresult > figure
{
	margin-left:0px;
}
.substep > .info > figure{
	margin-left:0px;
}
.step > .info > figure{
	margin-left:0px;
}

.admin{
	display:none;
}


